#comment-header-text {
  margin-block-start: 0;
}

#comments-container {
  text-align: center;
  display: none;
  position: relative;
  padding: 10px;
  width: 500px;
  color: rgb(230, 230, 230);
}

.visible {
  display: block !important;
  background-color: #232323;
  border-bottom-left-radius: 15px;
}

@keyframes slide-out {
  0% { transform: translateX(100%) }
  100% { transform: translateX(0%) }
}

@keyframes slide-in {
  0% { transform: translateX(0%) }
  100% { transform: translateX(100%) }
}

ul {
  padding: 0px;
}

.comment-list {
  text-align: center;
  list-style-type: none;
  width: 100%;
  min-height: 50px;
  padding: 0px;
}

.comment {
  border-radius: 10px;
  padding: 5px 10px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  background-color: rgb(68, 68, 68);
  color: #dadada;
  margin-bottom: 30px;
}

.comment-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-image {
  width: 45px;
  border: none;
  border-radius: 45px;
}

.comment-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden; 
  overflow-y: scroll;
}

#comment-form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#comment-textarea {
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #2d2d2d;
  color: #b1b1b1;
  outline: none;
}

.send-button {
  border-radius: 5px;
  background-color: rgb(39, 80, 150);
  color: #dadada;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  font-weight: 700;
}

#remove-button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ab0f0f;
  color: #d8d8d8;
  font-weight: 700;
}