body {
  margin: 0;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 150px;
  position: absolute;
  top: 20%;
}

#parentdiv {
  position: relative;
  width: 150px;
  height: 150px;
  /* border: rgb(255, 0, 0) solid 5px; */
  border-radius: 150px;
  margin: 150px;
}

.div2 {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 90px;
}